Tugas mengukur jarak (dissimalirity)
1. ambil data dari kaggle/github
2. ukur jarak d(1,2) , d(1,3) , d(1,4) objek dari data tersebut

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset_url = "https://raw.githubusercontent.com/AmandaCaecilia/datamining/main/russia-investigation.csv"
data = pd.read_csv(dataset_url)

In [3]:
data.head()

,investigation,investigation-start,investigation-end,investigation-days,name,indictment-days,type,cp-date,cp-days,overturned,pardoned,american,president
0,watergate,1973-05-19,1977-06-19,1492,James W. McCord,-246.0,conviction,1973-01-30,-109.0,False,False,True,Richard Nixon
1,watergate,1973-05-19,1977-06-19,1492,Bernard L. Barker,-246.0,conviction,1973-01-15,-124.0,False,False,True,Richard Nixon
2,watergate,1973-05-19,1977-06-19,1492,Bernard L. Barker,292.0,conviction,1974-07-12,419.0,True,False,True,Richard Nixon
3,watergate,1973-05-19,1977-06-19,1492,Eugenio R. Martinez,-246.0,guilty-plea,1973-01-15,-124.0,False,True,True,Richard Nixon
4,watergate,1973-05-19,1977-06-19,1492,Eugenio R. Martinez,292.0,conviction,1974-07-12,419.0,True,False,True,Richard Nixon

In [4]:
number_of_columns = data.shape[1]

In [5]:
pd.set_option('display.max_columns', number_of_columns)
pd.set_option('display.max_rows', number_of_columns)

In [6]:
data.columns

Index(['investigation', 'investigation-start', 'investigation-end',
       'investigation-days', 'name', 'indictment-days ', 'type', 'cp-date',
       'cp-days', 'overturned', 'pardoned', 'american', 'president'],
      dtype='object')

# **Categorical/Nomimal Features**

overtuned

pardoned

In [9]:
data[["name","overturned", "pardoned"]].head(5)

                  name  overturned  pardoned
0      James W. McCord           0         0
1    Bernard L. Barker           0         0
2    Bernard L. Barker           0         0
3  Eugenio R. Martinez           0         0
4  Eugenio R. Martinez           0         0

# Change Values to 1/0
# Take all values of 'overturned' and 'pardoned'

If values is True change to 1

If values is False change to 0

In [7]:
# overturned code
code_overturned_for_True= "True"
code_overturned_for_False = "False"
# pardoned code
code_pardoned_for_True= "True"
code_pardoned_for_False = "False"
# binary value
value_of_one = 1
value_of_zero = 0

def change_code_overturned_to_biner(overturned):
    return value_of_one if overturned == code_overturned_for_True else value_of_zero

def change_code_pardoned_to_biner(pardoned):
    return value_of_one if pardoned == code_pardoned_for_True else value_of_zero

In [8]:
# Update all values of 'overturned' series
data["overturned"] = data["overturned"].apply(change_code_overturned_to_biner)

# Update all values of 'pardoned' series
data["pardoned"] = data["pardoned"].apply(change_code_pardoned_to_biner)

In [13]:
data[["name","overturned", "pardoned"]].head(5)

                  name  overturned  pardoned
0      James W. McCord           0         0
1    Bernard L. Barker           0         0
2    Bernard L. Barker           0         0
3  Eugenio R. Martinez           0         0
4  Eugenio R. Martinez           0         0